@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black dark:bg-neutral-900 text-white;

  /* get flashbanged scott
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }*/
  /*
  :root {
    color-scheme: dark;
  }*/
  
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 8px;  
  height: 8px; 

}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 18px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #333842;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border: 3px solid transparent;
    border-left: 5px solid transparent; 
    background-clip: content-box;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
  
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  .scrollbar-padding-bottom {
    padding-bottom: 20px;
  }
}